_build
*.DS_Store
.metadata
*.cmi
*.cmo
*.cmx
*.annot
*.byte
*.native
*.depend
*.swp
.settings
\#*\#
*.mls
*.obc
*.o
*.class
*.log
*.
*.epci
*.epo
*.dot
test/*.ml
test/_check_builds
lib/java/.classpath
/test/async/build/*
/test/image_filters/java/*
compiler/doc.odocl
compiler/doc.docdir
compiler/_tags
config
config.status
*.blg
*.bbl
auto
autom4te.cache
*.result
/test/**/*_c